{% extends 'base.html' %}
{% load static %}




{% block 'body' %}
<div style="display: flex; justify-content: center;">
    <h1>Seja bem-vindo</h1>
</div>

<div class="container">
<p>Conheca a <strong>Neopet</strong>, o sistema web criado para transformar a gestão do seu pet shop! <br>
Com uma interface intuitiva e funcionalidades completas, você organiza atendimentos,<br> estoque e clientes de forma simples e eficiente.
Foque no que realmente importa:<br> cuidar dos pets, enquanto o Neopet cuida do resto! </p>
</div>


{% endblock%}
